<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ controller_name }}</title>
</head>
<body>
    <h1>{{ controller_name }}</h1>
    <p>これは、サンプルのテンプレートによる表示です。</p>
</body>
</html>
